<template>
  <div class="columns">
    <div class="column  is-4 is-narrow-mobile">
      <div class="box mybox">
        <b-menu>
          <b-menu-list label="Menu">
            <b-menu-item
              label="Filled Rectangular Milling"
              icon="link"
              tag="router-link"
              to="/rectmill"
            >
            </b-menu-item>
            <b-menu-item
              label="Cutting with ramp"
              icon="link"
              tag="router-link"
              to="/cutmill"
            >
            </b-menu-item>
          </b-menu-list>
        </b-menu>
      </div>
    </div>
    <div class="column has-text-centered">
      <div class="box is-shadowless">
        <div class="title spaced">
          Simple G-code Generator
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.menu-label {
  padding: 12px 8px;
  font-size: 1em;
  font-weight: 900;
}
.mybox {
  border-radius: 0 0 5px 5px;
  border-width: 0.5px;
  border-color: whitesmoke;
  border-style: solid;
  box-shadow: None;
  padding: 0;
}
</style>
