<template>
  <div class="section">
    <div class="columns">
      <div class="column">
        <div class="container has-text-centered">
          <div class="subtitle">
            Generate gcode for filled rectangular milling
          </div>
          <b-button
            class="button is-primary"
            @click="isComponentModalActive = true"
            >Generate</b-button
          >
        </div>
      </div>
    </div>
    <b-modal
      :active.sync="isComponentModalActive"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      id="code-modal"
    >
      <ValidationObserver ref="observer">
        <div class="container" slot-scope="{ validate }">
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title has-text-centered">
                Uzupełnij swoje parametry
              </p>
            </header>
            <section class="modal-card-body">
              <ValidationProvider rules="required" name="Method">
                <b-field
                  label="Metoda planowania"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-select
                    placeholder="Select a method"
                    v-model="codeForm.method"
                  >
                    <option value="downX">Climb/Współbieżne w osi X</option>
                    <option value="downY">Climb/Współbieżne w osi Y</option>
                    <option value="upX"
                      >Conventional/Przeciwbieżnie w osi X</option
                    >
                    <option value="upY"
                      >Conventional/Przeciwbieżnie w osi Y</option
                    >
                    <option value="biX"
                      >Bidirectional/Dwukiernukowo w osi X</option
                    >
                    <option value="biY"
                      >Bidirectional/Dwukiernukowo w osi Y</option
                    >
                  </b-select>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required|min_value:0" name="dimX">
                <b-field
                  label="Wymiar w osi X w mm"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.dim_x"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required|min_value:0" name="dimY">
                <b-field
                  label="Wymiar w osi Y w mm"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.dim_y"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required|min_value:0.5" name="safe Z">
                <b-field
                  label="Bezpieczny Z w mm"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.safe_z"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider
                rules="required|min_value:0.1"
                name="dim Tool"
              >
                <b-field
                  label="Rozmiar narzędzia w mm"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.dim_tool"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required|min_value:0.01" name="WOC">
                <b-field
                  label="Szerokość przejścia w mm"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.WOC"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider
                rules="required|between:1,60000"
                name="spindle"
              >
                <b-field
                  label="Prędkość obrotowa narzędzia"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.spindle"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required|min_value:1" name="feed">
                <b-field
                  label="Posuw pracy w mm/min"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.feed"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required|min_value:0" name="depth_max">
                <b-field
                  label="Zejście narzędzia w mm"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.depth_max"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider
                rules="required|min_value:0"
                name="depth_step"
              >
                <b-field
                  label="Głębkość pojedynczego zejścia w mm"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.depth_step"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="min_value:0" name="offset_x">
                <b-field
                  label="Przesunięcie od pkt 0 w osi X"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.offset_x"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required|min_value:0" name="offset_y">
                <b-field
                  label="Przesunięcie od pkt 0 w osi Y"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-input type="text" v-model="codeForm.offset_y"></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required" name="tool offset">
                <b-field
                  label="Wybierz tryb pracy"
                  slot-scope="{ errors, valid }"
                  :message="errors"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                >
                  <b-select
                    placeholder="Select a method"
                    v-model="codeForm.tool_offset"
                  >
                    <option value="inline">Wzdłuż</option>
                    <option value="inside">Wewnątrz wymiaru</option>
                    <option value="outside">Na zewnątrz wymiaru</option>
                  </b-select>
                </b-field>
              </ValidationProvider>
            </section>
            <footer class="modal-card-foot">
              <button
                class="button is-primary"
                @click="validate().then(onSubmit)"
              >
                Submit
              </button>
              <button class="button is-danger" @click="Reset">Reset</button>
            </footer>
          </div>
        </div>
      </ValidationObserver>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import { ValidationObserver, ValidationProvider } from "vee-validate";

export default {
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data() {
    return {
      codeForm: {
        dim_x: 200,
        dim_y: 300,
        safe_z: 2,
        dim_tool: 6,
        WOC: 3,
        spindle: 24000,
        feed: 2000,
        depth_max: 0,
        depth_step: 0,
        offset_x: 0,
        offset_y: 0,
        tool_offset: "inline",
        method: "downX"
      },
      isComponentModalActive: false,
      errors: []
    };
  },
  methods: {
    getFile(payload) {
      axios({
        url: `https://simple-gcode-generator.herokuapp.com/api/v1/rectmill`,
        //url: `http://localhost:5000/api/v1/rectmill`,
        method: "POST",
        data: payload,
        responseType: "text"
      })
        .then(res => {
          // eslint-disable-next-line
          if (res.status == "201") {
            var fileURL = window.URL.createObjectURL(new Blob([res.data]));
            var fileLink = document.createElement("a");
            fileLink.href = fileURL;
            fileLink.setAttribute("download", "gcode.tap");
            document.body.appendChild(fileLink);
            fileLink.click();
          }
        })
        .catch(err => {
          this.errors = err.response.data.errors._schema;
          // eslint-disable-next-line
          console.log(this.errors);
          this.errors.forEach(e => {
            this.$buefy.toast.open({
              message: `Error: ${e}, try again!`,
              type: "is-danger"
            });
          });
        });
    },
    onSubmit() {
      this.isComponentModalActive = false;
      const payloads = {
        dim_x: this.codeForm.dim_x,
        dim_y: this.codeForm.dim_y,
        safe_z: this.codeForm.safe_z,
        dim_tool: this.codeForm.dim_tool,
        WOC: this.codeForm.WOC,
        spindle: this.codeForm.spindle,
        feed: this.codeForm.feed,
        depth_max: this.codeForm.depth_max,
        depth_step: this.codeForm.depth_step,
        offset_x: this.codeForm.offset_x,
        offset_y: this.codeForm.offset_y,
        tool_offset: this.codeForm.tool_offset,
        method: this.codeForm.method
      };
      this.getFile(payloads);
    },
    Reset() {
      this.isComponentModalActive = false;
    }
  }
};
</script>
