<template>
  <div id="app">
    <b-navbar type="is-primary">
      <template slot="end">
      <b-navbar-item tag="router-link" to="/">Home</b-navbar-item>
      <b-navbar-item tag="router-link" to="/about">About</b-navbar-item>
      <b-navbar-item  href="https://gitlab.com/simple-g-code-generator" target="_blank">
      <img align="top" src="./assets/gitlab.png" alt="Project files">Project Repos</b-navbar-item>
      </template>
    </b-navbar>
    <router-view />
  </div>
</template>
